__pycache__
.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
.agents/
/build/
/coverage.xml
/dist/
/*.egg-info/
/src/*.egg-info/
config/local.json
/build/apt-packages.txt
/build/requirements.txt
/build/bake_packages/*
!/build/bake_packages/.gitkeep
