prune .github
prune tests

include src/ros2docker/py.typed

exclude .pre-commit-config.yaml
exclude .gitignore
exclude AGENTS.md
exclude DEVELOPMENT_PRINCIPLES.md
exclude justfile

global-exclude __pycache__ *.py[cod] .DS_Store
